<template component>
  <l-m src="./l-button.html"></l-m>
  <div class="relative">
    <div on:click="show = !show" class="select__btn">
      <slot></slot>
    </div>
    <ul
      attr:class="`${show ? 'inline-block' : 'hidden'} popover-box select__ul`"
    >
      <x-fill :value="options">
        <li>
          <l-button
            :size="'medium'"
            on:click="$host.changeValue($data.value)"
            :icon="!$host.multiple ? $data.icon : $host.inValues($data.value) ? $host.optionIcon :'-'"
            butCls="wfull"
          >
            <span class="text-sm text-nowrap inline-block">
              {{$data.label}}
            </span>
          </l-button>
        </li>
      </x-fill>
    </ul>
  </div>

  <script type="module">
    export const tag = "l-select";
    export default async function ({ load }) {
      const { watchHtmlTheme } = await load("../../js/util.js");
      return {
        data: {
          // 多选的时候会有选中状态
          multiple: false,
          show: false,
          options: [],
          optionIcon: "",
          value: [],
          listenerFn: null,
        },
        proto: {
          inValues(value) {
            return this.value.includes(value);
          },
          changeValue(value) {
            this.show = false;

            this.emit("select", {
              data: value,
            });
          },
        },
        attached() {
          const inSelect = (x, y, dom_str) => {
            const rect = this.shadow.$(dom_str).ele.getBoundingClientRect();
            return (
              x >= rect.left &&
              x <= rect.right &&
              y >= rect.top &&
              y <= rect.bottom
            );
          };
          this.listenerFn = (e) => {
            if (this.show) {
              if (
                !inSelect(e.clientX, e.clientY, ".select__btn") &&
                !inSelect(e.clientX, e.clientY, ".select__ul")
              ) {
                this.show = false;
              }
            }
          };
          document.addEventListener("click", this.listenerFn);
        },
        detached() {
          document.removeEventListener("click", this.listenerFn);
        },
      };
    }
  </script>
</template>
