<template component>
  <label attr:class="theme">
    <div
      attr:tabindex="1"
      attr:class="`${cursor} relative has-[:disabled]:op-50 has-[:checked]:bg-#18a058 has-[:checked]:dark:bg-#2A947D ${themeCls.rail}`"
      bg="#00000024 dark:#ffffff33"
      on:keydown="keydown"
    >
      <input
        type="checkbox"
        attr:disabled="loading || disabled"
        class="peer op-0 w-0 h-0 focus-visible:outline-none"
        on:change="updateChecked"
        tabindex="-1"
        sync:checked="checked"
      />
      <div
        attr:class="`flex-center text-#777d83 shadow left-2px top-2px absolute bg-#fff transition-all ${themeCls.button}`"
      >
        <x-if :value="loading">
          <i
            class="i-line-md:loading-alt-loop"
            attr:style="`width: ${iconSize}px; height: ${iconSize}px;`"
          ></i>
        </x-if>
      </div>
    </div>
  </label>
  <script type="module">
    const defaultSize = "medium";
    const iconSize = {
      small: 10,
      medium: 14,
      large: 18,
    };
    const size = {
      small: {
        button:
          "h-14px w-14px active:w-20px peer-checked:active:translate-x-8px rounded-14px peer-checked:translate-x-14px",
        rail: "h-18px w-32px rounded-18px",
      },
      medium: {
        button:
          "h-18px w-18px active:w-24px peer-checked:active:translate-x-12px rounded-18px peer-checked:translate-x-18px",
        rail: "h-22px w-40px rounded-22px",
      },
      large: {
        button:
          "h-22px w-22px active:w-28px peer-checked:active:translate-x-16px rounded-22px peer-checked:translate-x-22px",
        rail: "h-26px w-48px rounded-26px",
      },
    };
    export const tag = "l-switch";
    export default async function ({ load }) {
      return {
        data: {
          cursor: "cursor-pointer",
          disabled: false,
          loading: false,
          size: defaultSize,
          theme: "light",
          iconSize: iconSize[defaultSize],
          themeCls: size[defaultSize],
          checked: false,
        },
        loaded() {
          const targetNode = document.documentElement; // 这里选择的是html元素
          this.setTheme(targetNode.className);

          const config = {
            attributes: true, // 监听属性变化
            attributeFilter: ["class"], // 只监听class属性的变化
            childList: false, // 不监听子节点的增减
            subtree: false, // 不监听后代节点
          };

          const callback = (mutationsList, observer) => {
            for (const mutation of mutationsList) {
              if (mutation.type === "attributes") {
                this.setTheme(mutation.target.className);
              }
            }
          };

          const observer = new MutationObserver(callback);
          observer.observe(targetNode, config);
        },
        watch: {
          size(val) {
            this.themeCls = size[val] ?? size[defaultSize];

            this.iconSize = iconSize[val] ?? iconSize[defaultSize];
          },
          disabled(val) {
            this.cursor = val ? "cursor-not-allowed" : "cursor-pointer";
          },
          loading(val) {
            if (this.disabled) return;
            this.cursor = val ? "cursor-wait" : "cursor-pointer";
          },
        },
        proto: {
          keydown(event) {
            if (event.keyCode === 13) {
              this.updateChecked();
            }
          },
          setTheme(_theme = "") {
            this.theme = _theme.includes("dark") ? "dark" : "light";
          },
          updateChecked() {
            this.emit("change", {
              data: this.checked,
            });
          },
        },
      };
    }
  </script>
</template>
