[un-cloak] {
  display: none;
}

html {
  --theme-bg-color: #fff;
  --text-base-color: #333;
  --text-color: #606770;
  --border-color: #858585;
  --bg-hover-color: #f0f0f0;
}

html.dark {
  color-scheme: dark;
  --theme-bg-color: #222;
  --text-base-color: #fff;
  --text-color: #dedede;
  --border-color: #767676;
  --bg-hover-color: #323232;
}

[tabindex]:focus-visible,
select:focus-visible,
a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: solid #0173ff !important;
}

input:focus-within {
  border: none !important;
  box-shadow: none !important;
}
