<template component>
  <l-m src="../component/common/l-button.html"></l-m>
  <div
    id="console-list"
    attr:class="`${sys_store.theme} hfull relative overflow-auto`"
  >
    <div b-b b-b-menuHoverColor text-sm flex items-center flex-wrap gap-6px>
      <l-button on:on-click="clear" title="清空运行结果">
        <i i-lsicon-disable-outline></i>
      </l-button>
      <div class="relative min-w-100px">
        <l-button
          gap-0
          on:click="showSelect = !showSelect"
          title="选择日志级别"
        >
          <span text-xs>所有级别</span>
          <i text-3xl i-mingcute-down-small-fill></i>
        </l-button>
        <div
          on:click="showSelect = false"
          attr:class="`${showSelect ? 'inline-block' : 'hidden'} fixed inset-0 top-0 left-0`"
        ></div>
        <ul
          attr:class="`${showSelect ? 'inline-block' : 'hidden'} *:text-center  z-100 py-4px absolute top-100% left-0 shadow b rounded overflow-hidden bg-theme-bg-color b-menuHoverColor`"
        >
          <x-fill :value="logLevel">
            <li
              attr:class="$data.value == 'default' ? 'b-b b-menuHoverColor pb-4px mb-4px' : ''"
            >
              <l-button
                :size="'medium'"
                on:click="$host.changeLogLevel($data.value)"
                :icon="$host.getLevel($data.value) ? 'i-line-md-confirm':'-'"
                butCls="wfull"
              >
                <span text-sm> {{$data.label}} </span>
              </l-button>
            </li>
          </x-fill>
        </ul>
      </div>
      <x-if :value="logList.length - filterLogList.length > 0">
        <p text-xs text-menu-border>
          {{logList.length - filterLogList.length}}个已隐藏
        </p>
      </x-if>
    </div>
    <ul
      class="px6px text-14px text-#1c1c1c dark:text-#fff bg-#fff !dark:bg-transparent"
    >
      <x-fill :value="filterLogList">
        <li
          attr:class="`${$host.getCls($data)} relative rounded p-x22px m-y3px`"
        >
          <div
            b="b-solid b-1px b-#cadbfd dark:b-#4c4c4c "
            attr:class="`${$host.getCls($data) ? '!b-none' : ''} overflow-hidden`"
          >
            <pre>{{$data.info}}</pre>
          </div>
        </li>
      </x-fill>
    </ul>
  </div>

  <script type="module">
    import dayjs from "https://esm.sh/dayjs@1.11.13";

    export const tag = "l-console-list";
    export default async function ({ load }) {
      const { page_store } = await load("../store/page-store.js");
      const { sys_store } = await load("../store/system.js");

      let timeout = null;

      const cls = {
        warn: "bg-#fef4cb text-#2f2400 dark:bg-#322e1d dark:text-#efe591",
        error: "bg-#fae6e6 text-#492222 dark:bg-#3c2728 dark:text-#eececd",
      };
      return {
        data: {
          page_store: {},
          sys_store: {},
          /**
           * 日志列表
           * {
           *  type: typeof console,
           *  time: '12:00:00',
           *  info: '日志信息',
           * }
           */
          logList: [],
          filterLogList: [],
          showSelect: false,
          logLevelValue: ["verbose", "info", "warn", "error"],
          logLevel: [
            {
              label: "详细",
              value: "verbose",
            },
            {
              label: "信息",
              value: "info",
            },
            {
              label: "警告",
              value: "warn",
            },
            {
              label: "错误",
              value: "error",
            },
          ],
        },

        watch: {
          logList(val) {
            this.handleLogList();
          },
          logLevelValue(val) {
            this.handleLogList();
          },
        },
        attached() {
          this.sys_store = sys_store;
          this.page_store = page_store;
        },
        detached() {
          this.sys_store = null;
          this.page_store = null;
        },
        proto: {
          handleLogList() {
            // 不知道怎么过滤，先这样
            this.filterLogList = this.logList.filter((item) => {
              if (["info", "warn", "error"].includes(item.type)) {
                return this.logLevelValue.includes(item.type);
              }
              return this.logLevelValue.includes("verbose");
            });
          },
          changeLogLevel(val) {
            this.showSelect = false;
            if (val === "default") return;

            if (this.logLevelValue.includes(val)) {
              this.logLevelValue = this.logLevelValue.filter(
                (item) => item !== val
              );
            } else {
              this.logLevelValue.push(val);
            }
          },
          getLevel(val) {
            return this.logLevelValue.includes(val);
          },
          // 清空
          clear() {
            this.emit("clear");
          },
          scrollBottom() {
            const ele = this.shadow.ele;
            // 滚动到底部
            setTimeout(() => {
              const consoleList = ele.querySelector("#console-list");
              consoleList.scroll({
                top: consoleList.scrollHeight + 30,
                behavior: "smooth",
              });
            }, 300);
          },
          getCls(data) {
            return cls[data.type];
          },
        },
      };
    }
  </script>
</template>
