<template component>
  <div
    id="console-list"
    attr:class="`${sys_store.theme} hfull relative overflow-auto`"
  >
    <ul
      class="px6px text-14px text-#1c1c1c dark:text-#fff bg-#fff !dark:bg-transparent"
    >
      <x-fill :value="list">
        <li attr:class="`${$data.cls}`" relative rounded p="x22px" m="y3px">
          <p
            overflow-hidden
            b="b-solid b-1px b-#cadbfd dark:b-#4c4c4c"
            attr:class="`${$host.isBorder($data, $index) ? '!b-none' : ''}`"
          >
            <!-- <span class="">[{{$data.time}}]</span> -->
            <span class="">{{$data.message}}&nbsp;</span>
          </p>
        </li>
      </x-fill>
    </ul>
  </div>

  <script type="module">
    import dayjs from "https://esm.sh/dayjs@1.11.13";
    import { stringify } from "https://esm.sh/flatted@3.3.1";
    import { createJsRunner } from "../js/util.js";

    export const tag = "l-console-list";
    export default async function ({ load }) {
      const { editor_store } = await load("../js/editor_store.js");
      const { sys_store } = await load("../js/sys_store.js");

      let timeout = null;

      const cls = {
        warn: "bg-#fef4cb text-#2f2400 dark:bg-#322e1d dark:text-#efe591",
        error: "bg-#fae6e6 text-#492222 dark:bg-#3c2728 dark:text-#eececd",
      };
      return {
        data: {
          list: [],
          writeCode: null,
          onDestroy: null,
          editor_store: {},
          sys_store: {},
        },
        watch: {
          "editor_store.is_reset"() {
            this.list = [];
          },
          "editor_store.is_run"() {
            if (
              this.editor_store !== null &&
              this.writeCode !== null &&
              this.editor_store.is_run === true
            ) {
              this.list = [];

              this.writeCode(this.editor_store.editor_code);
              this.editor_store.is_run = false;
            }
          },
          "editor_store.is_run_interval"() {
            const { is_run_interval } = this.editor_store || {};
            if (is_run_interval) {
              this.editor_store.is_run = false;
              // 如果在循环了就跳出
              if (timeout) return;

              this.list = [];
              this.runCode();
            } else {
              if (timeout) {
                clearTimeout(timeout);
                timeout = null;
              }
            }
          },
          "sys_store.content"() {
            this.list = [];
          },
        },
        attached() {
          const { writeCode, onDestroy } = createJsRunner(
            this.getData.bind(this)
          );
          this.onDestroy = onDestroy;
          this.writeCode = writeCode;

          this.sys_store = sys_store;
          this.editor_store = editor_store;
        },
        detached() {
          this.sys_store = null;
          this.editor_store = null;

          this.onDestroy?.();
        },
        proto: {
          getData(event) {
            if (event.data.source === "lhf6623_leetcode_runner") {
              const data = event.data;
              this.list.push({
                ...data,
                time: dayjs().format("HH:mm:ss"),
                cls: cls[data.type] ?? "",
              });
              this.scrollBottom();
            }
          },
          scrollBottom() {
            const ele = this.shadow.ele;
            // 滚动到底部
            setTimeout(() => {
              const consoleList = ele.querySelector("#console-list");
              consoleList.scroll({
                top: consoleList.scrollHeight + 30,
                behavior: "smooth",
              });
            }, 300);
          },
          isBorder(data, index) {
            if (data.cls) return true;
            // ($data.cls || $host.list[$index + 1]?.cls) || $host.list.length == ($index - 1)
            if (this.list[index + 1]?.cls) return true;
            if (this.list.length === index + 1) return true;
            return false;
          },
          async runCode() {
            this.writeCode(this.editor_store.editor_code);

            timeout = setTimeout(() => {
              this.runCode();
            }, 1300);
          },
        },
      };
    }
  </script>
</template>
