<template component>
  <link href="../css/codemirror/codemirror.css" rel="stylesheet" />
  <link href="../css/codemirror/monokai.css" rel="stylesheet" />
  <link href="../css/codemirror/foldgutter.css" rel="stylesheet" />
  <div class="hfull overflow-hidden">
    <div
      id="code"
      attr:class="`${sys_store.theme} hfull relative *:hfull`"
    ></div>
  </div>

  <script type="module">
    export const tag = "l-editor";
    export default async function ({ load }) {
      const { setLeetcodeCode, page_store } = await load(
        "../store/page-store.js"
      );
      const { sys_store } = await load("../store/system.js");
      let editor = null;
      let timeoutId = null;
      return {
        data: {
          sys_store: {},
          page_store: {},
          code: "",
          updateCode: "",
        },
        watch: {
          "sys_store.theme"(value) {
            this.selectTheme();
          },
          updateCode(time) {
            if (!time) return;
            if (!this.code) return;
            if (editor && this.code === editor.getValue()) return;

            this.changeEditorCode(this.code ?? "");
          },
        },
        loaded() {
          editor = CodeMirror(this.shadow.ele.querySelector("#code"), {
            value: "",
            mode: "javascript",
            autoCloseBrackets: true,
            // 行号
            lineNumbers: true,
            // 活动行
            styleActiveLine: true,
            // 匹配括号
            matchBrackets: true,
            // 自动换行
            // lineWrapping: true,
            // 折叠
            extraKeys: {
              "Ctrl-Q": function (cm) {
                cm.foldCode(cm.getCursor());
              },
            },
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
          });

          this.selectTheme();
          // 自动聚焦
          editor.focus();

          // 监听内容变化
          editor.on("change", () => {
            const content = editor.getValue();
            setLeetcodeCode(content);
          });

          editor.setValue(this.code);
        },
        attached() {
          this.sys_store = sys_store;
          this.page_store = page_store;
        },
        detached() {
          this.sys_store = null;
          this.page_store = null;
          editor = null;
        },
        proto: {
          selectTheme() {
            if (editor && this.sys_store) {
              editor.setOption(
                "theme",
                this.sys_store.theme == "dark" ? "monokai" : "default"
              );
            }
          },
          changeEditorCode(code) {
            if (editor) {
              editor.setValue(code);
            }
          },
        },
      };
    }
  </script>
</template>
