<template component>
  <div class="hfull overflow-hidden">
    <iframe
      id="iframe"
      src="./CodeMirrorIframe/index.html"
      attr:class="`hfull relative ${loading ? 'w0': 'wfull'}`"
    ></iframe>
  </div>

  <script type="module">
    export const tag = "l-editor";
    export default async function ({ load }) {
      const { setLeetcodeCode } = await load("../store/page-store.js");
      const { watchHtmlTheme } = await load("../js/util.js");
      return {
        data: {
          code: "",
          updateCode: "",
          iframe: null,
          loading: true,
          observer: null,
        },
        watch: {
          updateCode(time) {
            if (!time) return;
            if (!this.code) return;

            this.changeEditorCode(this.code ?? "");
          },
        },
        attached() {
          this.iframe = this.shadow.ele.querySelector("#iframe");

          window.addEventListener("message", (event) => {
            if (event.data?.id === "codemirror") {
              const { fn, ags } = event.data;
              // 元素初次加载
              if (fn === "load") {
                this.emit("load");
                this.changeEditorCode(this.code ?? "");
                this.loading = false;
              } else {
                if (this[fn] && typeof this[fn] === "function") {
                  this[fn](...(ags || []));
                } else {
                  console.log("not found fn:", fn);
                }
              }
            }
          });
          this.observer = watchHtmlTheme(this.selectTheme.bind(this));
        },
        detached() {
          this.iframe = null;
          this.observer && this.observer();
          this.observer = null;
        },
        proto: {
          setCode: setLeetcodeCode,
          postMessage(fn, ags) {
            if (!this.iframe) return;
            this.iframe.contentWindow.postMessage(
              { id: "codemirror", fn, ags },
              "*"
            );
          },
          selectTheme(theme) {
            this.postMessage("setTheme", [theme]);
          },
          keydown(e) {
            this.emit("keydown", {
              data: e,
            });
          },
          changeEditorCode(code) {
            if (this.iframe) {
              this.postMessage("setValue", [code]);

              this.emit("load");
            }
          },
        },
      };
    }
  </script>
</template>
