<template component>
  <link href="../css/codemirror/codemirror.css" rel="stylesheet" />
  <link href="../css/codemirror/monokai.css" rel="stylesheet" />
  <link href="../css/codemirror/foldgutter.css" rel="stylesheet" />
  <style>
    /** 注释 */
    .ͼ24 {
      color: #008000 !important;
    }

    .dark {
      --chalky: #e5c07b;
      --oral: #e06c75;
      --cyan: #56b6c2;
      --invalid: #ffffff;
      --ivory: #abb2bf;
      --stone: #7d8799;
      --malibu: #61afef;
      --sage: #98c379;
      --whiskey: #d19a66;
      --violet: #c678dd;
      --darkBackground: #21252b;
      --highlightBackground: #2c313a;
      --background: #282c34;
      --tooltipBackground: #353a42;
      --selection: #3e4451;
      --cursor: #528bff;

      color: var(--ivory);
      background-color: var(--background);

      .cm-editor .cm-cursor {
        border-left-color: var(--cursor) !important;
      }
      .cm-content {
        caret-color: var(--cursor) !important;
      }
      /** 注释 */
      .ͼ24 {
        /* dark 6a9a55 0e840b */
        color: #6a9a55 !important;
      }
      /** 对象里面的变量 key */
      .ͼ23 {
        color: #9cdcff;
      }
      /* function */
      .ͼ1t {
        color: #569cd6;
      }
      /* 变量 */
      .ͼ1y {
        color: #dcdcaa;
      }
      /* 字符串 */
      .ͼ1w {
        color: #ce9178;
      }
      /** 数字 */
      .ͼ1v {
        color: #f78c6c;
      }
      /** false */
      .ͼ1u {
        color: #5699d2;
      }

      .cm-cursor,
      .cm-dropCursor {
        border-left-color: var(--cursor);
      }
      .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
      .cm-selectionBackground,
      .cm-content ::selection {
        background-color: var(--selection) !important;
      }

      .cm-panels {
        background-color: var(--darkBackground);
        color: var(--ivory);
      }
      .cm-panels.cm-panels-top {
        border-bottom: 2px solid black;
      }
      .cm-panels.cm-panels-bottom {
        border-top: 2px solid black;
      }
      .cm-searchMatch {
        background-color: #72a1ff59;
        outline: 1px solid #457dff;
      }
      .cm-searchMatch.cm-searchMatch-selected {
        background-color: #6199ff2f;
      }

      .cm-activeLine {
        background-color: #6699ff0b !important;
      }
      .cm-selectionMatch {
        background-color: #aafe661a;
      }

      .cm-focused .cm-matchingBracket,
      .cm-focused .cm-nonmatchingBracket {
        background-color: #bad0f847;
      }

      .cm-gutters {
        background-color: var(--background) !important;
        color: var(--stone);
        border: none !important;
      }

      .cm-activeLineGutter {
        background-color: var(--highlightBackground) !important;
      }

      .cm-foldPlaceholder {
        background-color: transparent;
        border: none;
        color: #ddd;
      }

      .cm-tooltip {
        border: none;
        background-color: var(--tooltipBackground);
      }
      .cm-tooltip .cm-tooltip-arrow:before {
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
      .cm-tooltip .cm-tooltip-arrow:after {
        border-top-color: var(--tooltipBackground);
        border-bottom-color: var(--tooltipBackground);
      }
      .cm-tooltip-autocomplete {
        ul > li[aria-selected] {
          background-color: var(--highlightBackground);
          color: var(--ivory);
        }
      }
    }
  </style>
  <div attr:class="`${sys_store.loading ? '!h-0 overflow-hidden' : 'h-full'}`">
    <div
      id="code"
      attr:class="`${sys_store.theme} h-full relative *:h-full`"
    ></div>
  </div>

  <script type="module">
    export const tag = "l-editor";
    export default async function ({ load }) {
      const { setEditorCode, editor_store } = await load(
        "../js/editor_store.js"
      );
      const { sys_store } = await load("../js/sys_store.js");
      let editor = null;
      let timeoutId = null;

      return {
        data: {
          sys_store: {},
          editor_store: {},
        },
        watch: {
          "sys_store.theme"(value) {
            if (editor) {
              console.log(this.sys_store.theme, value);
              const isDark = this.sys_store.theme == "dark";
              console.log(isDark);

              editor.setOption("theme", isDark ? "monokai" : "default");
            }
          },
          "editor_store.is_reset"() {
            if (this.editor_store?.is_reset) {
              setEditorCode(this.sys_store.content);
              this.changeEditorCode(this.editor_store.editor_code);
              this.editor_store.is_reset = false;
            }
          },
          // 点击菜单时
          "sys_store.content"(_code, data1) {
            if (!editor) return;
            if (!this.sys_store?.content) return;

            const { oldValue, value } = data1.watchers[0];

            if (
              typeof value === "string" &&
              typeof oldValue === "string" &&
              oldValue !== value
            ) {
              setEditorCode(this.sys_store.content);
            }
            if (!this.editor_store.editor_code) {
              setEditorCode(this.sys_store.content);
            }

            setTimeout(() => {
              this.changeEditorCode(this.editor_store.editor_code);
            }, 100);
          },
        },
        loaded() {
          const value = this.editor_store.editor_code || this.sys_store.content;
          editor = CodeMirror(this.shadow.ele.querySelector("#code"), {
            value,
            mode: "javascript",
            autoCloseBrackets: true,
            // 行号
            lineNumbers: true,
            // 活动行
            styleActiveLine: true,
            // 匹配括号
            matchBrackets: true,
            // 自动换行
            // lineWrapping: true,
            // 折叠
            extraKeys: {
              "Ctrl-Q": function (cm) {
                cm.foldCode(cm.getCursor());
              },
            },
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
          });

          this.selectTheme();
          // 自动聚焦
          editor.focus();
        },
        attached() {
          this.sys_store = sys_store;
          this.editor_store = editor_store;
        },
        detached() {
          this.sys_store = null;
          this.editor_store = null;
        },
        proto: {
          selectTheme() {
            const isDark = this.sys_store.theme == "dark";

            editor.setOption("theme", isDark ? "monokai" : "default");
          },
          changeEditorCode(code) {
            if (editor) {
              editor.setValue(code);
            }
          },
        },
      };
    }
  </script>
</template>
