<template component>
  <l-m src="./l-search.html"></l-m>
  <l-m src="./common/l-button.html"></l-m>

  <header
    class="z-10 relative h-50px !px-18px flex-shrink-0 b b-menu-hover-color flex-center"
  >
    <x-if :value="is_small.val">
      <l-button
        :icon="'typcn:th-menu'"
        on:on-click="setMenu"
        :size="'large'"
        :icon-size="24"
      >
      </l-button>
    </x-if>
    <div
      class="flex-center *:bg-transparent *:px-10px *:py-3px *:whitespace-nowrap *:text-12px"
    >
      <button
        b="1px solid menu-border"
        attr:class="`rounded-s-full l-btn ${document_type.val === 'leetcode' ? 'text-blue':''}`"
        on:click="changeDocumentType('leetcode')"
      >
        力扣
      </button>
      <button
        b="1px solid menu-border l-0px"
        attr:class="`rounded-e-full l-btn ${document_type.val === 'mdbook' ? 'text-blue':''}`"
        on:click="changeDocumentType('mdbook')"
      >
        文档
      </button>
      <button on:click="gopage">test</button>
    </div>
    <nav class="h-full w-full flex items-center justify-end">
      <ul class="flex h-full list-none gap-x-8px m-0 flex-center">
        <li>
          <l-search></l-search>
        </li>
        <li>
          <l-button
            :icon="theme.val !== 'dark' ?'mage:moon-fill' : 'ph:sun-fill'"
            on:on-click="toggleTheme"
            :round="true"
            :icon-size="24"
          >
          </l-button>
        </li>
        <li>
          <a
            class="flex-center w-32px h-32px"
            target="_blank"
            href="https://github.com/lhf6623/leetcode"
          >
            <iconify-icon
              icon="mdi:github"
              width="24"
              height="24"
            ></iconify-icon>
          </a>
        </li>
        <li>
          <a
            class="flex-center w-32px h-32px"
            target="_blank"
            href="https://leetcode.cn/u/dalichuqiji/"
          >
            <iconify-icon
              icon="tabler:brand-leetcode"
              width="24"
              height="24"
            ></iconify-icon>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <script type="module">
    import { getUrl } from "../js/util.js";
    export const tag = "l-header";
    export default async function ({ load }) {
      const {
        content,
        theme,
        title,
        is_small,
        is_show_menu,
        changeDocumentType,
        document_type,
      } = await load("../js/sys_store.js");
      return {
        data: {
          is_small: {},
          theme: {},
          document_type: {},
        },
        attached() {
          this.is_small = is_small;
          this.theme = theme;
          this.document_type = document_type;
        },
        detached() {
          this.is_small = null;
          this.theme = null;
          this.document_type = null;
        },
        proto: {
          gopage() {
            this.app.goto(getUrl("src/pages/test.html"));
          },
          changeDocumentType(type) {
            changeDocumentType(type);
          },
          setMenu() {
            is_show_menu.val = !is_show_menu.val;
          },
          toggleTheme() {
            theme.val = theme.val === "dark" ? "light" : "dark";
          },
        },
      };
    }
  </script>
</template>
