<template component>
  <l-m src="./common/l-switch.html"></l-m>
  <l-m src="./common/l-button.html"></l-m>

  <l-m src="./l-console-list.html"></l-m>
  <l-m src="./l-editor.html"></l-m>
  <div class="relative h-full flex flex-col">
    <div
      id="main"
      class="flex relative flex-col overflow-hidden flex-1 bg-theme-bg-color"
    >
      <!-- 功能区 -->
      <div class="p-3px pl-16px m-0 flex-between">
        <p class="text-14px max-sm:hidden">{{title.val}}</p>
        <div class="flex-between gap-x-10px *:flex-shrink-0">
          <l-button
            :loading="is_reset.val"
            :icon="'pepicons-pop:reload'"
            on:on-click="restoreCode"
          >
            还原代码
          </l-button>

          <div
            class="l-btn rounded-3px overflow-hidden px-14px h-34px flex-center gap-x-6px"
          >
            <p class="text-14px">实时运行</p>
            <l-switch
              on:change="runCodeInterval"
              :size="'small'"
              :checked="is_run_interval.val"
            ></l-switch>
          </div>
          <l-button
            :disabled="is_run_interval.val"
            :loading="is_run.val"
            :icon="'solar:play-bold'"
            on:on-click="runCode"
          >
            运行
          </l-button>
        </div>
        <l-button
          :icon="!isFullscreen ? 'tabler:arrows-maximize':'tabler:arrows-minimize'"
          on:on-click="toggleFullScreen"
        >
        </l-button>
      </div>
      <!-- 编辑区 -->
      <div
        class="flex-1 group relative flex b overflow-hidden b-solid b-menu-hover-color"
      >
        <div
          id="split-0"
          class="relative flex-shrink-0 h-full overflow-hidden group-[.is-mouse]:select-none group-[.is-mouse]:pointer-events-none"
        >
          <l-editor></l-editor>
        </div>
        <div
          id="split-1"
          class="cursor-col-resize flex-shrink-0 w-10px overflow-hidden bg-menu-hover-color flex-center"
        >
          <iconify-icon
            icon="lsicon:drag-filled"
            width="16"
            height="16"
          ></iconify-icon>
        </div>
        <div
          id="split-2"
          class="group-[.is-mouse]:select-none flex-shrink-0 group-[.is-mouse]:pointer-events-none"
        >
          <l-console-list></l-console-list>
        </div>
      </div>
    </div>

    <footer
      class="flex-shrink-0 flex-row flex-between !text-#0073ff *:flex *:items-center *:cursor-pointer !*:my-8px"
    >
      <button class="l-btn" on:click="setNextTitle(preTitle)">
        <x-if :value="preTitle">
          <iconify-icon
            icon="mingcute:left-fill"
            width="24"
            height="24"
          ></iconify-icon>
          <span>{{preTitle}}</span>
        </x-if>
      </button>
      <button class="l-btn" on:click="setNextTitle(nextTitle)">
        <x-if :value="nextTitle">
          <span>{{nextTitle}}</span>
          <iconify-icon
            icon="mingcute:right-fill"
            width="24"
            height="24"
          ></iconify-icon>
        </x-if>
      </button>
    </footer>
  </div>

  <script type="module">
    import screenfull from "https://esm.sh/screenfull@6.0.0";
    import { Split } from "../js/util.js";

    export const tag = "l-leetcode";
    export default async function ({ load }) {
      const { is_run, is_run_interval, is_reset } = await load(
        "../js/store.js"
      );
      const { menus, title } = await load("../js/sys_store.js");

      return {
        data: {
          title: {},
          preTitle: "",
          nextTitle: "",
          isFullscreen: false,
          is_run_interval: {},
          is_reset: {},
          is_run: {},
        },
        loaded() {
          Split(
            [
              this.shadow.ele.querySelector("#split-0"),
              this.shadow.ele.querySelector("#split-1"),
              this.shadow.ele.querySelector("#split-2"),
            ],
            66
          );
        },
        attached() {
          this.title = title;
          this.is_run_interval = is_run_interval;
          this.is_reset = is_reset;
          this.is_run = is_run;
        },
        detached() {
          this.title = null;
          this.is_run_interval = null;
          this.is_reset = null;
          this.is_run = null;
        },
        watch: {
          title() {
            const index = menus.val.findIndex((item) => item === title.val);
            this.preTitle = menus.val[index - 1] || "";
            this.nextTitle = menus.val[index + 1] || "";
          },
        },
        proto: {
          setNextTitle(_title) {
            title.val = _title;
          },
          toggleFullScreen() {
            const element = this.shadow.ele.querySelector("#main");

            if (screenfull.isEnabled) {
              screenfull.toggle(element);
              setTimeout(() => {
                this.isFullscreen = screenfull.isFullscreen;
              }, 100);
            }
          },
          // 还原代码
          restoreCode() {
            this.is_reset.val = true;
          },
          // 运行代码
          runCode() {
            this.is_run.val = true;
          },
          // 周期性运行代码
          runCodeInterval(e) {
            this.is_run_interval.val = e.data;
          },
        },
      };
    }
  </script>
</template>
