<template component>
  <link rel="stylesheet" href="../css/public.css" />
  <style>
    .md {
      position: relative;
      overflow: auto;
      height: 100%;
      box-sizing: border-box;
    }

    .dark #pdf {
      background-color: var(--theme-bg-color);
    }
    .bnts {
      position: absolute;
      right: 3px;
    }
    .title {
      text-align: center;
      margin-bottom: 0;
      letter-spacing: 2px;
    }

    #md {
      padding: 0 40px 40px 40px;
    }
  </style>
  <link rel="stylesheet" id="link" href="#" />

  <div attr:class="`md ${sys_store.theme}`">
    <div class="bnts">
      <button title="下载文档为PDF" on:click="getPdf">PDF</button>
    </div>
    <div id="pdf" attr:style="`${sys_store.loading ? 'display:none;': ''}`">
      <h1 class="title">{{sys_store.title?.replace('.md', '')}}</h1>
      <div :html="mdTxt" id="md"></div>
    </div>
  </div>
  <script type="module">
    import { Marked } from "https://esm.sh/marked@14.1.3";
    import { markedHighlight } from "https://esm.sh/marked-highlight@2.2.0";
    import hljs from "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/es/highlight.min.js";
    import { jsPDF } from "https://esm.sh/jspdf@2.5.2";
    import html2canvas from "https://esm.sh/html2canvas@1.4.1";

    export const tag = "l-load-md";
    export default async function ({ load }) {
      const { sys_store } = await load("../js/sys_store.js");
      let marked = null;
      return {
        data: {
          mdTxt: "加载中。。。",
          sys_store: {},
        },
        watch: {
          "sys_store.content"(data) {
            const { content } = this.sys_store || {};
            if (content) {
              this.renderMd(content);
              this.scrollToTop();
            }
          },
          "sys_store.theme"() {
            let ele = this.shadow.ele;
            const link = ele.querySelector("#link");
            const _theme =
              this.sys_store?.theme === "dark"
                ? "atom-one-dark"
                : "atom-one-light";
            link.href = `https://unpkg.com/@highlightjs/cdn-assets@11.10.0/styles/${_theme}.min.css`;
          },
        },
        detached() {
          this.sys_store = null;
        },
        attached() {
          this.sys_store = sys_store;
          marked = new Marked(
            markedHighlight({
              emptyLangClass: "hljs",
              langPrefix: "hljs language-",
              highlight(code, lang, info) {
                const language = hljs.getLanguage(lang) ? lang : "plaintext";

                return hljs.highlight(code, { language }).value;
              },
            })
          );

          setTimeout(() => {
            this.renderMd(this.sys_store.content);
          }, 100);
        },
        proto: {
          // 滚动到顶
          scrollToTop() {
            const ele = this.shadow.ele;
            const mdDom = ele.querySelector(".md");
            mdDom.scrollTo({ top: 0, behavior: "smooth" });
          },
          renderMd(mdTxt) {
            this.mdTxt = marked.parse(mdTxt);
          },
          getPdf() {
            let ele = this.shadow.ele;
            let mdDom = ele.querySelector("#pdf");
            let doc = new jsPDF();

            html2canvas(mdDom).then((canvas) => {
              let imgData = canvas.toDataURL("image/png");
              const c_w = canvas.width;
              const c_h = canvas.height;
              /** pdf 一页的页面宽度 */
              const pdf_page_w = doc.internal.pageSize.getWidth();
              /** pdf 一页的页面高度 */
              let pdf_page_h = doc.internal.pageSize.getHeight();
              /** pdf 页面总高度 */
              let pdf_page_total_h = c_h * (pdf_page_w / c_w);

              let x = 0;
              while (x < pdf_page_total_h) {
                x > 0 && doc.addPage();
                doc.addImage(
                  imgData,
                  "PNG",
                  0,
                  x * -1,
                  pdf_page_w,
                  pdf_page_total_h
                );
                x += pdf_page_h;
              }
              doc.save(`${this.sys_store.title.replace("md", "pdf")}`);
            });
          },
        },
      };
    }
  </script>
</template>
