<template component>
  <link rel="stylesheet" href="../css/highlight-theme.css" />

  <div attr:class="`md ${theme.val}`">
    <div class="bnts">
      <button title="下载文档为PDF" on:click="getPdf">PDF</button>
    </div>
    <div id="pdf">
      <h1 class="title">{{title.val?.replace('.md', '')}}</h1>
      <div :html="mdTxt" id="md"></div>
    </div>
  </div>
  <script type="module">
    import { Marked } from "https://esm.sh/marked@14.1.3";
    import { markedHighlight } from "https://esm.sh/marked-highlight@2.2.0";
    import hljs from "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/es/highlight.min.js";
    import { jsPDF } from "https://esm.sh/jspdf@2.5.2";
    import html2canvas from "https://esm.sh/html2canvas@1.4.1";

    export const tag = "l-load-md";
    export default async function ({ load }) {
      const { content, theme, title } = await load("../js/sys_store.js");
      let marked = null;
      return {
        data: {
          mdTxt: "加载中。。。",
          content: {},
          theme: {},
          title: {},
        },
        watch: {
          content(data) {
            if (data?.val) {
              this.renderMd(data.val);
              this.scrollToTop();
            }
          },
        },
        detached() {
          this.content = null;
          this.theme = null;
          this.title = null;
        },
        attached() {
          this.content = content;
          this.theme = theme;
          this.title = title;
          marked = new Marked(
            markedHighlight({
              emptyLangClass: "hljs",
              langPrefix: "hljs language-",
              highlight(code, lang, info) {
                const language = hljs.getLanguage(lang) ? lang : "plaintext";

                return hljs.highlight(code, { language }).value;
              },
            })
          );

          setTimeout(() => {
            this.renderMd(content.val);
          }, 100);
        },
        proto: {
          // 滚动到顶
          scrollToTop() {
            const ele = this.shadow.ele;
            const mdDom = ele.querySelector(".md");
            mdDom.scrollTo({ top: 0, behavior: "smooth" });
          },
          renderMd(mdTxt) {
            this.mdTxt = marked.parse(mdTxt);
          },
          getPdf() {
            let ele = this.shadow.ele;
            let mdDom = ele.querySelector("#pdf");
            let doc = new jsPDF();

            html2canvas(mdDom).then((canvas) => {
              let imgData = canvas.toDataURL("image/png");
              const c_w = canvas.width;
              const c_h = canvas.height;
              /** pdf 一页的页面宽度 */
              const pdf_page_w = doc.internal.pageSize.getWidth();
              /** pdf 一页的页面高度 */
              let pdf_page_h = doc.internal.pageSize.getHeight();
              /** pdf 页面总高度 */
              let pdf_page_total_h = c_h * (pdf_page_w / c_w);

              let x = 0;
              while (x < pdf_page_total_h) {
                x > 0 && doc.addPage();
                doc.addImage(
                  imgData,
                  "PNG",
                  0,
                  x * -1,
                  pdf_page_w,
                  pdf_page_total_h
                );
                x += pdf_page_h;
              }
              doc.save(`${this.title.val.replace("md", "pdf")}`);
            });
          },
        },
      };
    }
  </script>
</template>
