<template component>
  <link
    rel="stylesheet"
    href="../css/uno.css"
  />
  <l-m src="./common/l-loading.html"></l-m>
  <l-m src="./l-load-md.html"></l-m>
  <l-m src="./l-leetcode.html"></l-m>

  <main
    b="l l-solid l-menu-hover-color"
    class="relative h-full bg-theme-bg-color"
  >
    <l-loading :loading="loading.val"></l-loading>
    <x-if :value="document_type.val === 'leetcode'">
      <l-leetcode></l-leetcode>
    </x-if>
    <x-if :value="document_type.val === 'mdbook'">
      <l-load-md></l-load-md>
    </x-if>
  </main>
  <script type="module">
    import { getUrl } from "../js/util.js";

    export const tag = "l-main";
    export default async function ({ load }) {
      const { title, loading, document_type } = await load(
        "../js/sys_store.js"
      );

      return {
        data: {
          loading: {},
          document_type: {},
        },
        attached() {
          this.loading = loading;
          this.document_type = document_type;
        },
        detached() {
          this.loading = null;
          this.document_type = null;
        },
        proto: {},
      };
    }
  </script>
</template>
