<template component>
  <div
    on:click="setMenu"
    attr:class="`${sysStore.isSmall && sysStore.isShowMenu ? 'op100 z300' : 'op0 !z--1'} bg-#00000022 transition-all fixed w100vw h100vh top-0 left-0`"
  ></div>
  <aside
    attr:class="`${menuClass} hfull transition-all w280px text-theme-text bg-theme-bg overflow-y-auto relative flex-shrink-0 z1`"
  >
    <ul class="p0 m0 relative px16px">
      <x-fill :value="sysStore.menus">
        <li
          attr:class="`${$host.sysStore?.title === $data ? 'text-#0173ff active bg-theme-hover' : ''} l-btn rounded-5px font500 truncate pl8px py2px my5px mx0px text-ellipsis text-16px`"
          on:click="$host.toggle($data)"
          on:keydown="$host.keydownToggle($event, $data)"
          attr:title="$host.changeText($data)"
          tabindex="0"
        >
          {{$host.changeText($data)}}
        </li>
      </x-fill>
    </ul>
  </aside>
  <script type="module">
    import { throttle } from "https://esm.sh/lodash-es@4.17.21";
    export const tag = "l-menu";
    export default async function ({ load }) {
      const { sysStore, handleFileSuffix, setContent, setSysTitle } =
        await load("../store/system.js");
      return {
        data: {
          sysStore: {},
          menuClass: "",
        },
        watch: {
          "sysStore.title"() {
            this.scrollToViewport();
          },
          "sysStore.isShowMenu"() {
            const { isSmall, isShowMenu } = this.sysStore || {};
            const show = isSmall && isShowMenu;

            if (isSmall) {
              this.menuClass = show
                ? "!fixed z400 !top-0 !h100vh"
                : "!fixed !w0 overflow-hidden";
            } else {
              this.menuClass = "";
            }
          },
        },
        attached() {
          this.sysStore = sysStore;
          this.resizeHandler = throttle(this.setShowMenu, 300);
          window.addEventListener("resize", this.resizeHandler);
          this.setShowMenu();
        },
        detached() {
          window.removeEventListener("resize", this.resizeHandler);
          this.resizeHandler = null;
          this.sysStore = null;
        },
        async loaded() {
          const { menus, title } = this.sysStore;

          if (menus) {
            const index = menus.indexOf(title);
            if (index >= 0) {
              const _title = menus[index];
              this.toggle(_title);
            }
          }
        },
        proto: {
          setShowMenu: () => {
            const width = window.innerWidth;
            sysStore.isSmall = width < 960;
            sysStore.isShowMenu = width >= 960;
          },
          scrollToViewport() {
            setTimeout(() => {
              const scroll = this.shadow.ele.querySelector("aside");
              const active = this.shadow.ele.querySelector(".active");
              const { offsetTop: activeTop, offsetHeight: activeHeight } = active || {};
              const { scrollTop, offsetHeight: viewportHeight } = scroll || {};

              if (activeTop + activeHeight - scrollTop > viewportHeight || activeTop < scrollTop) {
                scroll.scroll({
                  top: activeTop - viewportHeight / 2,
                  behavior: "smooth",
                });
              }
            }, 300);
          },
          changeText: handleFileSuffix,
          setMenu() {
            this.sysStore.isShowMenu = false;
          },
          keydownToggle(e, _title) {
            if (e.key === "Enter") {
              this.toggle(_title);
            }
          },
          toggle(_title) {
            this.setMenu();
            setTimeout(() => {
              setSysTitle(_title);
            }, 0);
          },
        },
      };
    }
  </script>
</template>
