<template component>
  <div
    on:click="setMenu"
    attr:class="`${sys_store.is_small && sys_store.is_show_menu ? 'op-100 z-300' : 'op-0 !z--1'} bg-#00000022 transition-all fixed w-100vw h-100vh top-0 left-0`"
  ></div>
  <aside
    attr:class="`${menuClass} transition-all w-280px text-theme-text bg-theme-bg-color overflow-y-auto h-full relative flex-shrink-0 z-1`"
  >
    <ul class="p-0 m-0 relative px-16px">
      <x-fill :value="sys_store.menus">
        <li
          attr:class="`${$host.sys_store?.title === $data ? 'text-#0173ff' : ''} l-btn rounded-5px font-500 truncate`"
          p="l-8px y-2px"
          m="y-5px x-0px"
          text="ellipsis 16px"
          on:click="$host.toggle($data)"
          attr:title="$data"
        >
          {{$data}}
        </li>
      </x-fill>
    </ul>
  </aside>
  <script type="module">
    export default async function ({ load }) {
      const { sys_store } = await load("../js/sys_store.js");
      return {
        data: {
          sys_store: {},
          menuClass: "",
        },
        watch: {
          "sys_store.is_show_menu"() {
            const { is_small, is_show_menu } = this.sys_store || {};
            const show = is_small && is_show_menu;

            if (is_small) {
              this.menuClass = show
                ? "!fixed z-400 !top-0 !h-100vh"
                : "!fixed !w-0 overflow-hidden";
            } else {
              this.menuClass = "";
            }
          },
        },
        attached() {
          this.sys_store = sys_store;
        },
        detached() {
          this.sys_store = null;
        },
        async loaded() {
          const { menus, title } = this.sys_store;
          const index = menus.indexOf(title);
          if (index >= 0) {
            const _title = menus[index];
            this.toggle(_title);
          }
        },
        proto: {
          setMenu() {
            this.sys_store.is_show_menu = false;
          },
          toggle(_title) {
            this.setMenu();
            setTimeout(() => {
              this.sys_store.title = _title;
            }, 0);
          },
        },
      };
    }
  </script>
</template>
