<template component>
  <input
    attr:placeholder="`查询 ${isMac ? 'command':'ctrl'}+K`"
    list="menus"
    :value="inputValue"
    on:change="toggle"
    b="solid 1px menu-border"
    class="caret-transparent relative w-168px box-border px-6px py-0px rounded placeholder:text-12px"
  />
  <datalist id="menus">
    <x-fill :value="sys_store.menus">
      <option :value="$host.changeText($data)" />
    </x-fill>
  </datalist>
  <script type="module">
    const menu = "l-menu";
    export const tag = "l-search";
    export default async function ({ load }) {
      const { sys_store } = await load("../js/sys_store.js");
      return {
        data: {
          sys_store: {},
          inputValue: "",
          isMac: navigator.platform.toUpperCase().indexOf("MAC") >= 0,
        },
        attached() {
          window.addEventListener("keydown", this.focusInput.bind(this));

          this.sys_store = sys_store;
        },
        detached() {
          this.sys_store = null;
          window.removeEventListener("keydown", this.focusInput.bind(this));
        },
        proto: {
          // 监听按键 聚焦输入框
          focusInput(e) {
            // 监听 command k 键
            if (e.key === "k" && (e.metaKey || e.ctrlKey)) {
              this.shadow.ele.querySelector("input").focus();
            }
          },
          changeText(text) {
            // 替换 字符串后缀比如 xxx.js => xxx
            const reg = /\.js$/;
            return text.replace(reg, "");
          },
          toggle(e) {
            const _title = e.target.value.trim();
            if (!_title) return;

            const inMenu = this.sys_store.menus.reduce((pre, curr) => {
              if (pre === true) return pre;
              return curr === `${_title}.js`;
            }, false);
            if (!inMenu) return;

            this.inputValue = e.target.value;
            this.sys_store.title = `${_title}.js`;
            this.inputValue = "";
          },
        },
      };
    }
  </script>
</template>
