<template component>
  <button
    on:click="handleClick"
    type="button"
    attr:disabled="loading || disabled"
    attr:class="`l-btn l-btn-disabled flex items-center ${defaultIcon ? 'gap-x6px': ''} ${butCls} ${round ? roundStyle : ''}`"
  >
    <x-if :value="defaultIcon">
      <i
        attr:class="`${defaultIcon} flex-shrink-0`"
        attr:style="`width: ${iconSize ?? defaultIconSize}px; height: ${iconSize ?? defaultIconSize}px`"
      ></i>
    </x-if>
    <slot></slot>
  </button>
  <script type="module">
    const loadIcon = "i-line-md:loading-alt-loop";
    const defaultSize = "small";
    const iconSize = {
      tiny: 14,
      small: 18,
      medium: 18,
      large: 20,
    };
    const size = {
      tiny: "py0 px6px h22px rounded-3px text-12px",
      small: "py0 px10px h28px rounded-3px text-14px",
      medium: "py0 px14px h34px rounded-3px text-14px",
      large: "py0 px18px h40px rounded-3px text-15px",
    };
    const roundStyle = "rounded-full overflow-hidden aspect-square flex-center";

    export const tag = "l-button";
    export default async function () {
      return {
        data: {
          loading: false,
          disabled: false,
          icon: "",
          iconSize: null,
          defaultIconSize: null,
          size: defaultSize,
          butCls: "",
          round: false,
          roundStyle,
          defaultIcon: "",
        },
        watch: {
          loading(val) {
            this.defaultIcon = val === true ? loadIcon : this.icon;
          },
          size(val) {
            this.butCls = size[val] ?? size[defaultSize];
            this.defaultIconSize = iconSize[val] ?? iconSize[defaultSize];
          },
          icon(val) {
            this.defaultIcon = this.icon;
          },
        },
        proto: {
          handleClick(e) {
            this.emit("on-click", {
              data: e,
            });
          },
        },
      };
    }
  </script>
</template>
