<template component>
  <style>
    button {
      font-size: 12px;
    }
  </style>
  <button class="btn" attr:data-clipboard-text="code">
    {{isCopy ? '已复制' : '复制'}}
  </button>
  <script type="module">
    export default async function ({ load }) {
      return {
        tag: 'l-copy',
        data: {
          isCopy: false,
          code: '1'
        },
        loaded() {
          const el = this.shadow.$('.btn').ele;
          const clipboard = new ClipboardJS(el);

          clipboard.on('success', (e) => {
            this.isCopy = true;

            setTimeout(() => {
              this.isCopy = false;
            }, 1000);

            e.clearSelection();
          });

          clipboard.on('error', (e) => {
            this.isCopy = false;
          });
        },
        proto: {
        }
      }
    }
  </script>
</template>