<template component>
  <style>
    ul {
      overflow-y: auto;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      cursor: pointer;
      padding: 6px;
      border-radius: 6px;
      border-bottom: 1px solid #e6e6e6;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .dark li {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .is-active {
      color: #0073ff;
    }
  </style>

  <ul attr:class="store.theme">
    <x-fill :value="store.menus">
      <li attr:class="$host.store.currTitle === $data ? 'is-active' : ''" on:click="$host.toggle($data)"
        attr:title="$data.replace('.js', '')">
        {{$data.replace('.js', '')}}</li>
    </x-fill>
  </ul>

  <script>
    import { getText, stringToDom, getUrl } from '../js/util.js'

    export default async function ({ load }) {
      const { data } = await load('../js/store.js')
      return {
        tag: 'l-menu',
        data: {
          store: {},
        },
        attached() {
          this.store = data
        },
        detached() {
          this.store = null
        },
        async loaded() {
          const html = await getText(getUrl('questionBank'), fetch)
          console.log(`🚀 ~ html:`, html);

          // const dom = stringToDom(html);
          this.store.menus = [
            "1.两数之和.js",
            "2.两数相加.js",
            "3.无重复字符的最长子串.js",
            "69.x-的平方根.js",
            "88.合并两个有序数组.js",
            "263.丑数.js",
            "268.丢失的数字.js",
            "414.第三大的数.js",
            "575.分糖果.js",
            "846.一手顺子.js",
            "944.删列造序.js",
            "976.三角形的最大周长.js",
            "1122.数组的相对排序.js",
            "1154.一年中的第几天.js",
            "1184.公交站间的距离.js",
            "1200.最小绝对差.js",
            "1640.能否连接形成数组.js",
            "1678.设计-goal-解析器.js",
            "2078.两栋颜色不同且距离最远的房子.js",
            "2180.统计各位数字之和为偶数的整数个数.js",
            "2231.按奇偶交换后的最大数字.js",
            "2235.两整数相加.js",
            "2239.找到最接近-0-的数字.js",
            "2243.计算字符串的数字和.js",
            "2374.边积分最高的节点.js",
            "2390.从字符串中移除星号.js",
            "2414.最长的字母序连续子字符串的长度.js",
            "2624.蜗牛排序.js",
            "2625.扁平化嵌套数组.js",
            "2628.完全相等的-JSON-字符串.js",
            "2649.嵌套数组生成器.js",
            "2705.精简对象.js",
            "6041.多个数组求交集.js"
          ]
          // Array.from(dom.getElementsByTagName('li')).flatMap((li, index) => {
          //   if (index === 0) return []
          //   const name = li.getElementsByClassName('name')[0].innerHTML
          //   return [name]
          // }).sort((a, b) => {
          //   const [a_index] = a.split('.')
          //   const [b_index] = b.split('.')
          //   return Number(a_index) - Number(b_index)
          // })
          // console.log(this.store.menus);

          this.toggle(this.store.menus[0])
        },
        proto: {
          toggle(title) {
            this.store.currTitle = title
            const currIndex = this.store.menus.indexOf(title)
            this.store.preTitle = this.store.menus[currIndex - 1] ?? ''
            this.store.nextTitle = this.store.menus[currIndex + 1] ?? ''
          }
        }
      }
    }
  </script>
</template>