<template component>
  <style>
    ul {
      overflow-y: auto;
      max-height: 300px;

      li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;
        border-bottom: 1px solid #e6e6e6;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .dark li {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .is-active {
      color: #0073ff;
    }

    .search {
      position: relative;
      width: 168px;

      input {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 3px 9px;
      }

      .filter-menu {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        list-style-type: none;
      }
    }

    .dark .filter-menu {
      background-color: #333;
    }
  </style>
  <div attr:class="'search ' + theme.value">
    <input placeholder="快速查询" on:input="filterMenusFn" type="text">
    <ul class="filter-menu">
      <x-fill :value="filterMenus">
        <li attr:class="$host.store.currTitle === $data ? 'is-active' : ''" on:click="$host.toggle($data)"
          attr:title="$data.replace('.js', '')">
          {{$data.replace('.js', '')}}</li>
      </x-fill>
    </ul>
  </div>
  <script>
    import { data } from '../js/store.js'
    import theme from '../js/theme.js'
    export default async function () {
      return {
        tag: 'l-search',
        data: {
          store: {},
          filterMenus: [],
          // 键盘上下选择项
          currIndex: 0,
          theme: {},
        },
        attached() {
          this.store = data
          this.theme = theme
        },
        detached() {
          this.store = null
          this.theme = null
        },
        proto: {
          filterMenusFn(e) {
            const value = e.target.value
            if (!value) {
              this.filterMenus = []
              return
            };
            this.filterMenus = this.store.menus.filter(m => m.includes(value))
          },
          toggle(title) {
            this.store.currTitle = title
            const currIndex = this.store.menus.indexOf(title)
            this.store.preTitle = this.store.menus[currIndex - 1] ?? ''
            this.store.nextTitle = this.store.menus[currIndex + 1] ?? ''
            setTimeout(() => {
              this.filterMenus = []
            }, 100);
          }
        }
      }
    }
  </script>
</template>