<template component>
	<style>
		input {
			position: relative;
			width: 168px;
			box-sizing: border-box;
			padding: 3px 9px;
		}
		#menus {
			width: 168px;
		}
	</style>
	<input
		placeholder="快速查询"
		list="menus"
		:value="inputValue"
		on:change="toggle"
		type="text"
	/>
	<datalist id="menus">
		<x-fill :value="store.menus">
			<option :value="$data.replace('.js', '')" />
		</x-fill>
	</datalist>
	<script>
		import { data } from "../js/store.js";
		export default async function () {
			return {
				tag: "l-search",
				data: {
					store: {},
					inputValue: "",
				},
				attached() {
					this.store = data;
				},
				detached() {
					this.store = null;
				},
				proto: {
					toggle(e) {
						const value = e.target.value.trim();
						if (!value) return;

						const title = `${value}.js`;
						const isMenu = this.store.menus.reduce((pre, curr) => {
							if (pre === true) return pre;
							return curr === title;
						}, false);
						if (!isMenu) return;

						this.inputValue = e.target.value;
						this.store.currTitle = title;
						const currIndex = this.store.menus.indexOf(title);
						this.store.preTitle = this.store.menus[currIndex - 1] ?? "";
						this.store.nextTitle = this.store.menus[currIndex + 1] ?? "";

						this.inputValue = "";
					},
				},
			};
		}
	</script>
</template>
